* {
    margin: 0;
    padding: 0;
    outline: none;
}
@font-face {
    font-weight: 400;
    font-family: Helvetica;
    src: url(/src/font/helveticaneuecyr-roman.ttf);
}
.service-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.service-name p
{
    text-align: center;
    font-family: Helvetica;
    color: black;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 22px;
    text-align: justify;
    font-size: 36px;
    font-weight: bold;
}
.service-main img
{
    width: 1000px;
    margin: 30px 0;
}

.service-description p 
{
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 22px;
    text-align: justify;
    width: 1200px;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}