* {
    margin: 0;
    padding: 0;
    outline: none;
}

@font-face {
    font-weight: 400;
    font-family: Helvetica;
    src: url(/src/font/helveticaneuecyr-roman.ttf);
}

@keyframes showElement {
    0% {
        opacity: 0;
        top: 0;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

html {
    scroll-behavior: smooth;
}
.header-hidden{
    display: none !important;
}
.container {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1550px;
    font-family: Helvetica;
}

.Toastify {
    border-radius: 20px !important;
}

.header {
    font-family: Helvetica;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.05em;
    margin-bottom: 114px;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 50px 175px 0;
}

/* Шапка */
.header-fixed {
    position: fixed;
    display: flex !important;
    padding: 20px 175px !important;
    animation: showElement;
    animation-duration: .5s;
    max-width: 1560px;
    width: 100%;
    box-shadow: 0px 2px 25px 0px rgba(34, 60, 80, 0.2);
    top: 0;
}

.after-logo{
    width: 20%;
}

.space {
    height: 200px;
    position: sticky;
}

.navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-text {
    padding: 0 95px 0 0;
    display: flex;
}

.navbar-text a:not(:last-child) {
    text-decoration: none;
    color: black;
    padding: 0 48px 0 48px;
}

.navbar-text a:last-child {
    color: black;
    padding: 0 48px 0 48px;
    text-decoration: none;
}

.navbar-btn {
    text-transform: uppercase;
    color: white;
    background-color: #133d8d;
    padding: 25px;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-btn a {
    color: #fff;
    text-decoration: none;
}

.offer {

    display: flex;
    padding-bottom: 200px;
}

.offer-block {

    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.offer-title {
    padding-bottom: 60px;
    font-size: 54px;
    letter-spacing: 0.1em;

}

.offer-text {
    font-size: 16px;
    letter-spacing: 0.1em;
    padding-bottom: 65px;
    width: 736px;
    line-height: 22px;
    text-align: justify;
}

.offer-btn {
    color: #fff;
    background-color: #133d8d;
    letter-spacing: 0.05em;
    width: 334px;
    text-align: center;
    padding: 25px 0;
    text-decoration: none;
    transition: 0.5s;
}

.offer-img img {
    width: 600px;
    height: 100%;
}

.service {
    padding: 100px 0 270px 0;
}

.service-title {
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 44px;
    text-align: center;
    padding-bottom: 150px;
    letter-spacing: 0.1em;
}

.service-box {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.service-item-img {
    padding-bottom: 35px;
    overflow: hidden;
}

.service-item-text {
    text-align: center;
    padding: 25px;
    background-color: #133D8D;
    color: white;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.service-item a {
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.service-item-img img {
    opacity: 1;
    transition: opacity 124ms linear;
    width: 100%;
    height: auto;
    display: block;
}

.service-item img {
    transition: 0.5s;
}

.about-us {
    height: 968px;
    background-color: #133D8D;
}

.about-us-box {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding-top: 170px;
    justify-content: space-between;
}

.about-us-info {
    display: flex;
    width: 700px;
    flex-direction: column;
}

.about-us-title {
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
    line-height: 25px;
}

.about-us-text {
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.03em;
    line-height: 25px;
}

.about-us-img__upper {
    position: relative;
}

.about-us-img-bg {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: block;
}

.about-us-img__lower {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 200px;
}

.about-us-img__lower1 {
    position: relative;
    padding-top: 200px;
}

.about-us-img__lower2 {
    margin: 80px 0 0 300px;
    position: relative;
}


.archive {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.archive-box {
    width: 700px;
    text-align: justify;
}

.archive-title {
    text-transform: uppercase;
    font-size: 34px;
    letter-spacing: 0.1em;
    padding-bottom: 37px;
    text-align: center;
}

.archive-text {
    margin-bottom: 1rem;
    line-height: 34px;
    font-size: 24px;
    text-align: center;
}

.archive-slider {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.archive-slider-img {
    padding: 1rem 0;
}

.archive-slider-img img {
    /*width: 700px;*/
}

.archive-slider a {

    cursor: pointer;
    background-color: #133D8D;
    color: white;
    font-size: 50px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 20px;
}

/*.archive-slider-item img*/
/*{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.single-item img*/
/*{*/
/*    width: 200px;*/
/*}*/

.slickSlider {
    width: auto;
    margin: 30px 50px 50px;
}

/*.slick-slide {*/
/*    color: white;*/
/*    padding: 40px 0;*/
/*    font-size: 30px;*/
/*    font-family: "Arial", "Helvetica";*/
/*    text-align: center;*/
/*}*/

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    bottom: -30px;
}

/*.slick-slide:nth-child(odd) {*/
/*    background: #e84a69;*/
/*}*/
/*.slider-container{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.archive-slider-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    /*width: 50%;*/
}

.col {
    padding-bottom: 10px;
}

.form {
    /* background-color: #133d8d; */
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 100px 0;
    width: 711px;
    margin: 0 auto;
}

.form input {
    font-size: 24px;
    padding: 10px 0 10px 20px;
    margin-bottom: 30px;
    border: 1px black solid;
    width: 100%;
    border-radius: 5px;

}

.form p {
    font-size: 24px;
    line-height: 34px;
    color: #133D8D;
}

.form-title {
    text-transform: uppercase;
    font-size: 36px;
    padding: 0 0 25px 0;
    text-align: center;
    color: #133D8D;
    line-height: 34px;

}

.form-phone-email {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-msg {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form-msg-ph textarea {
    width: 100%;
    height: 150px;
    resize: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    margin-bottom: 30px;
    border: 1px black solid;
}

.form-btn {
    background-color: #133d8d;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 15px 50px;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.input-email.error {
    box-shadow: 0 0 15px red;
}


.footer {
    font-family: Helvetica;
    display: flex;
    background-color: #133D8D;
    color: #fff;
    padding: 50px 200px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-social {
    display: flex;
    margin-left: 100px;
}

.footer-social a {
    padding: 0 50px;
}

.footer-social a img {
    width: 40px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    padding: 5px 0;
}

.footer-data {
    font-size: 20px;
    text-align: right;
    line-height: 28px;
}

.footer-data a, p {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
}

.footer-data p:first-child {
    text-transform: uppercase;
}

.input-number-phone::-webkit-inner-spin-button {
    display: none;
}

.contacts {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 0 auto;
}
